 @charset "UTF-8";

 @media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, rgba(235, 134, 87, 0.349), rgba(250, 86, 10, 0.466));
    }

    #login {
        width: 85%;
        height: 400px;
    }
    #imagem {
        width: 30%;
        height: 100%;
        float: left;
    } 

    #formulario{ 
        padding: 30px;
        float: right;
    }

 }

 @media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, rgba(235, 134, 87, 0.349), rgba(250, 86, 10, 0.466));
    }

    #login {
        width: 950px;
        height: 400px;
    }

    #imagem {
        float:right;
        width: 50%;
        height: 100%;
    }

    #formulario> h1 {
        padding-top: 25px;
    }
 }

