 @charset "UTF-8";

 /*rgba(211, 89, 8, 0.747)
 rgba(235, 134, 87, 0.349), rgba(250, 86, 10, 0.466)
 */

 * {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
 }

 body, html{
    background-color: rgba(211, 89, 8, 0.315);
    width: 100vw;
    height: 100vh;
 }
 

 