 @charset "UTF-8";

 /*rgba(211, 89, 8, 0.747)
 rgba(235, 134, 87, 0.349), rgba(250, 86, 10, 0.466)
 */

 * {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
 }

 body, html{
    background-color: rgba(211, 89, 8, 0.315);
    width: 100vw;
    height: 100vh;
 }

 main {
    position:relative;
    width: 100vw;
    height: 100vh
 }

 section#login { 
    background-color: white;
    position:absolute;
    top: 50%;
    left: 50%; 
    width: 250px;
    height: 560px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.267);
    transform:translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
 }

 section#login > div#imagem {
    display: block;
    background: black url(../imagens/pexels-dinnow-9444476.jpg) no-repeat;
    background-size: cover;
    height: 250px;
 }

 section#login > div#formulario {
    display: block;
    padding: 10px;
    
 }

 section#login > div#formulario > h1 {
    font-size: 1.8em;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.164);
    margin-bottom: 20px;
 }

 section#login > div#formulario > p {

    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.096);
    font-size: 1.2em;
 }

 div.campo {
   display: block;
   background-color: rgba(255, 111, 8, 0.521);
   width: 100%;
   height: 40px;
   margin: 5px 0px;
   
   border-radius: 8px;
   overflow:hidden;
 }

 form > div.campo > input {
   font-size: 1em;
   width: calc(100% - 20%);
   height: 100%;
   background-color: rgba(224, 126, 46, 0.589);
   border-radius: 8px; 
   border: 1px solid black;
   padding: 4px;
   transform:translateY(-12px);
 }
 
 div.campo > label {
    display:none;
 }

 div.campo > i {
   background-color: rgba(255, 111, 8, 0.521);
   font-size: 2.0em;
   width: 40px;
   padding: 5px;
 }

 div.campo > input:focus-within {
   background-color: white;
   
 }

 a.botao {
   display: block;
   width: 100%;
   height: 35px;
   font-size: 1.2em;
   margin-top: 10px;
   padding: 2px;
   border: 1px solid black;
   border-radius: 5px;
   color: black;
   text-decoration: none;
   text-align: center;
   background-color: rgba(211, 89, 8, 0.310);
 }

 a.botao:hover {
   text-decoration: underline;
   background-color: rgba(255, 111, 8, 0.521);
 }

 form > input[type=submit] {
   display: block;
   padding: 5px;
   margin-top: 20px;
   margin-bottom: 5px;
   width: 100%;
   height: 35px;
   font-size: 1.2em;
   padding: 2px;
   border: 1px solid black;
   border-radius: 5px;
   background-color: rgba(211, 89, 8, 0.310);
   cursor: pointer;
 }

 form > input[type=submit]:hover {
   text-decoration: underline;
   background-color: rgba(255, 111, 8, 0.521);
 }

 a.botao > i {
   font-size: 1em;
   color: black;
 }





 

 